
header {
    text-align: center;
    line-height: 70px;
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header h1 {
    color: white;
    margin: 0;
}
  
.logo {
    margin-left: 20px;
    margin-top: 20px;
  }
  

  